.mobile {
    /*margin: 50px auto;*/
    /*width: 100%;*/
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: blue;
    position: absolute;
}

.nav {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background-color: #f23363;
    line-height: 50px;
    border-radius: 50%;
    transition: all .1s ease-in-out 0s;
}


/*.nav:after {
    position: absolute;
    content: '';
    right: 0px;
    bottom: 0px;
    width: 50px;
    height: 50px;
    background-color: #f23363;
    line-height: 50px;
    border-radius: 50%;
    transition: all .1s ease-in-out 0s;
}*/


/*实现增加属性后 动画*/

.nav.active {
    /*position: absolute;
    content: '';*/
    right: -150px;
    bottom: -150px;
    width: 350px;
    height: 350px;
    /*background-color: #f23363;
    line-height: 50px;
    border-radius: 50%;
    z-index: 1;*/
}
